.card
{
    margin-top: 75px;
    height: 400px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: white;
    border-radius: 15%;

}
.nav-link:hover{
  filter: invert(11%) sepia(72%) saturate(3417%) hue-rotate(270deg) brightness(91%) contrast(115%);
}
.foot
{
    text-decoration: none;
    color:rgb(67, 3, 79);
}
.button 
{
    color: rgb(232, 232, 239);
    background-color: rgb(40, 103, 148);
    border-radius: .75rem;
    font-size: 30px;
    border: none;
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content:center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.button:hover
{
    color: rgb(3, 10, 103);
    
}
.social_t
{
    margin-left:20px;
    margin-right: 100px;
}
  .skill-title
  {
    margin-top: 75px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .sktitle 
  {
    font-size: 70px;
    text-decoration: underline rgb(0, 162, 255);
    margin-bottom: 20px;
  }
  .skcard
  {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 170px;
  }
  .table
  {
    margin-left: auto;
    margin-right: auto;
  }
  .sklogo
  {
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 75px;
    margin-bottom: 20px;
  }
  .sklan
  {
    justify-content: space-between;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 20px;
  }
  .skclass
  {
    margin-bottom: 100px;
    width: 25%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .about_section {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    color: black;
  }
  
  .about_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
  }
  
  .about_title_wrap {
    width: 100%;
    text-align: center;
  }
  
  .about_title_wrap2 {
    padding-bottom: 3rem;
  }
  
  .about_title {
    font-size: 2.5rem;
    font-weight: bold;
    display: inline;
    border-bottom: 4px solid;
    border-color: hsl(var(--hue-color), 89%, 60%);
  }
  
  .about_content_wrap {
    display: grid;
    grid-gap: 21px;
  }
  
 
  
  .about_intro {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.5rem;
    
  }
  .projects_section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    padding: 1rem;
    padding-top: 90px;
  }
  
  .projects_title_wrap {
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .projects_title {
    border-bottom: 4px solid;
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 1rem;
    display: inline;
    margin-left: auto;
    margin-right: auto;
  }
  
  .projects_description{
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  
  .wrapper {
    margin: 2rem;
    display: grid;
    gap: 2.5rem;
    grid-template-columns: 100%;
    justify-content: center;
  }
  .card__project {
    background-color: white;
    box-shadow: 0 0 10px 5px #e1e5ee;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.5s ease;
  }

  /* .card__img {
    width: 100px;
    height: 18rem;
    object-fit: cover;
  } */
  
  .card__body {
    margin: 1.2rem;
    flex-grow: 1;
    height: auto;
  }
  .card__title {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 0.6rem;
  }
  .project_techstack {
    font-size: 15px;
    font-weight: 200;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  .tech_logo{
    width: 30px;
    margin-right: 12px;
  }
  .card__description {
    line-height: 1.2rem;
  }
.foot__er
{
  background-color: rgb(40, 103, 148);
  justify-content: center;
  text-align: center;
}
.foot__name
{
  margin-bottom: 5%;
}
.social_ft
{
  margin-right: 15px;
}
.social_ft:hover
{
  filter: invert(97%) sepia(94%) saturate(26%) hue-rotate(57deg) brightness(106%) contrast(107%);
}
.footer {
  background-color: rgb(40, 103, 148);
  color: rgb(254, 255, 255);
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}

.footer__social {
  margin-bottom: var(--mb-4);
}

.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}

.footer__copy {
  font-size: var(--smaller-font-size);
}
.about_title_wrap {
  width: 150px;
   height: 75px;
    position: relative;
    animation: mymove 2s 1;
    text-align: center;
    justify-content: center;
    color: black;
 }

@media (min-width: 640px) {
  .about_intro {
    text-align: right;
    font-size: 2.6rem;
  }
}
@media (min-width: 640px) {
  .about_content_wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 640px) {
  .wrapper {
    grid-template-columns: 50% 50%;
  }
} 
@media screen and (min-width: 975px) {
  .wrapper {
    grid-template-columns: 50% 50%;
  }
}